<!-- # Name:Akshay Waikar
# ID:1001373973
# Course number- CSE 6331-003 -->
<h1>Akshay Waikar</h1>
<h1>1001373973</h1>
<br>
<p>
	<!-- Used to take a phrase  -->
	<img src="../static/images/Jees.jpg">
 <form action="/search" method="get">
 	<h3> Question 1- Search for Nora and show her details</h3>
Name<input type="text" name="name" maxlength="200" width="60"> 
<input type="submit" value="Search"><br/><br/>
</form>
 <form action="/searchforgrade" method="get">
 	<h3> Question 2-  Search all grade where the grade is less than 99. </h3>
 	<input type="submit" value="Grade Search"><br/><br/>
 	</form>
</p>
 <form action="/removedave" method="get">
 	<h3> Question 3-  Remove a person. </h3>
 	Name<input type="text" name="name" maxlength="200" width="60"> 
 	<input type="submit" value="Delete user"><br/><br/>
 	</form>

  <form action="/updatekeywords" method="get">
 	<h3> Question 4-  Update keywords. </h3>
 	Name<input type="text" name="name" maxlength="200" width="60"> 
 	New Keywords<input type="text" name="keywords" maxlength="200" width="60"> 
 	<input type="submit" value="UpdateKeyword"><br/><br/>
 	</form>

   <form action="/updategrade" method="get">
 	<h3> Question 5-  Update Grade. </h3>
 	Name<input type="text" name="name" maxlength="200" width="60"> 
 	New Grade<input type="text" name="grade" maxlength="200" width="60"> 
 	<input type="submit" value="Updategrade"><br/><br/>
 	</form>	
</p>
